.swiper-slide-active{
    scale: .8;
}

 .swiper-slide-active+ .swiper-slide {
    position: relative;
    left: -200px;
    z-index: -1;
    box-shadow: none;
    scale: 0.5;
}
 .swiper-slide-prev {
    position: relative;
    left: 200px;
    z-index: -1;
    box-shadow: none;
    scale: 0.5;
} 